<div class='modalBackground'>
    <div class='modal'>
        <div class="modal-header">
            <span (click)="cancelModal()" class="cancel">&times;</span>
        </div>
        <div class="log-modal-main">
            <mat-label class="label">Unesite podatke o novom oglasu.</mat-label>

            <mat-form-field class="polje-za-uneti" required>
                <mat-label>Unesite naziv oglasa</mat-label>
                <input  matInput [(ngModel)]="event.name" required>
            </mat-form-field>

            <mat-form-field class="polje-za-uneti">
                <mat-label>Unesite opis oglasa</mat-label>
                <textarea matInput [(ngModel)]="event.description"></textarea>
            </mat-form-field>

            <mat-form-field  class="polje-za-uneti" >
                <mat-label>Unsite tip potrebnih korisnika</mat-label>
                <mat-select [(value)]="event.userType" >
                    <mat-option value="glumac" >Glumac</mat-option>
                    <mat-option value="snimatelj" >Snimatelj</mat-option>
                    <mat-option value="statista" >Statista</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width polje-za-uneti">
                <mat-label>Unesite broj potrebnih korisnika</mat-label>
                <input matInput [(ngModel)]="event.userCount" type="number" required>
            </mat-form-field>
             
            <button class="login-btn" type="button" (click)="handleClick()">Sačuvaj</button>
        </div>
    </div>
</div> 